<!DOCTYPE html>
<html>

<head>

    <title>Places</title>

    <script src="js/external/jquery.min.js"></script>

    <script type="text/javascript" src="js/external/js.cookie.js"></script>
    <script type="text/javascript" src="js/storage.js"></script>
    <script type="text/javascript" src="js/config.js"></script>

    <script type="text/javascript" src="js/controllers/nearbyLocationsController.js"></script>
    <script type="text/javascript" src="js/controllers/topLocationsController.js"></script>

    <script src="js/external/angular.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="css/external/bootstrap.min.css">
    <link href="css/external/bootstrap-glyphicons.css" rel="stylesheet">

    <!-- Optional: Include the jQuery library -->
    <script src="js/external/jquery.min.js"></script>

    <!-- Optional: Incorporate the Bootstrap JavaScript plugins -->
    <script src="js/external/bootstrap.min.js"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/external/style.css" type="text/css">
    <link rel="stylesheet" href="css/fileButtonStyle.css" type="text/css">

    <link rel="stylesheet" href="css/external/jquery.typeahead.min.css">
    <script src="js/external/jquery.typeahead.min.js"></script>

    <style>
        /* Extra styles to adjust Typeahead */
        .typeahead-container {
            max-width: 500px;
        }
    </style>

    <style type="text/css">
        #map-canvas {
            width: 100%;
            height: 500px;
        }

        .right-panel {
            height: 500px;
        }
    </style>

    <script type="text/javascript">
    	var map;
        var locations = [];

    	var modalLat;
    	var modalLng;

    	var currentLatitude;
    	var currentLongitude;

        var placedModalMarker = null;

        var user = $.parseJSON(storage['user']);
        var user_location;

    	function signout() {
    		sessionStorage.user = null;
    		localStorage.user = null;
    		return true;
    	}


        function myrand(x, y) {
            return Math.floor(Math.random() * y) + x;
        }

		var dfd = new jQuery.Deferred();


	    function setCurrentPositionSuccess(position) {
		    currentLatitude =  position.coords.latitude;
		    currentLongitude = position.coords.longitude;

            var userLatLng = new google.maps.LatLng(position.coords.latitude,
                    position.coords.longitude);

            var image = {
                url: 'images/current.png',
                origin: new google.maps.Point(0, 0),
                anchor: new google.maps.Point(25, 25),
                scaledSize: new google.maps.Size(50, 50)
            };


            var marker = new google.maps.Marker({
                position: userLatLng,
                map: map,
                icon: image
            });


		    dfd.resolve();
            nearbyLocationsController.deffered.resolve();
		}

		function setCurrentPositionFailure() {
			currentLatitude =  44.438606;
		    currentLongitude = 26.049492;
		    dfd.resolve();
            nearbyLocationsController.deffered.resolve();
		}


        // Populate map locations.
        function initialize() {

            script = document.createElement('script');
            script.type = 'text/javascript';
            script.src = 'js/external/heatmap.min.js';
            document.body.appendChild(script);

            script = document.createElement('script');
            script.type = 'text/javascript';
            script.src = 'js/external/gmaps-heatmap.js';
            document.body.appendChild(script);


            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(setCurrentPositionSuccess, setCurrentPositionFailure);
            } else {
                setCurrentPositionFailure();
            }

        	$.when(dfd.promise()).then(function() {
	            var center = new google.maps.LatLng(currentLatitude, currentLongitude);

	            var mapOptions = {
	                zoom: 15,
	                center: center
	            };

	            map = new google.maps.Map(document.getElementById('map-canvas'),
	                mapOptions);


	            // Get stored location and place them on map.
	            var request = $.ajax({
	                url: config.uri + "/locations?topLocations",
	                type: "GET",
                    headers: {"Authorization": config.accessToken},
	                connection: "keep-alive",
	                contentType: "application/json",
                    dataType: "json",
	                cache: false,
	            });

	            request.done(function(top_locations) {
	                var top_locations = top_locations;

	                for (var i = 0; i < top_locations.length; i++) {
                        (function (i, location) {
                            var image = null;
                            if (top_locations[i].image_url) {
                                var image = {
                                    url: location.image_url,
                                    origin: new google.maps.Point(0, 0),
                                    anchor: new google.maps.Point(25, 25),
                                    scaledSize: new google.maps.Size(50, 50)
                                };
                            }

                            var marker = new google.maps.Marker({
                                position: new google.maps.LatLng(
                                        location.latitude,
                                        location.longitude),
                                map: map,
                                title: location.name,
                                icon: image,
                                _place: location
                            });
                            locations[location.id] = location;
                            locations[location.id].marker = marker;

                            google.maps.event.addListener(marker, 'click', function () {
                                redirectToLocation(marker._place.id, "location.html");
                            });

                        })(i, top_locations[i]);
                    }

	            });
            });
        }

        function placeMarkerFromModal(id) {

        	google.maps.event.addListener(map, 'click', function(location) {

        		modalLat = location.latLng.lat();
		    	modalLng = location.latLng.lng();

                var image = {
                    url: 'images/snowCar.png',
                    origin: new google.maps.Point(0, 0),
                    anchor: new google.maps.Point(25, 25),
                    scaledSize: new google.maps.Size(50, 50)
                };


                var marker = new google.maps.Marker({
	                position: location.latLng,
	                map: map,
                    icon: image
           		});

                // Previous location was not submited so we erase it from the map.
                // The marker will also be erase on submit because of the page reload.
                if(placedModalMarker != null) {
                	placedModalMarker.setMap(null);
                }

                placedModalMarker = marker;

                $("#" + id + " input[name=latitude]").val(modalLat);
                $("#" + id + " input[name=longitude]").val(modalLng);

                google.maps.event.clearListeners(map, 'click');

                $("#" + id).modal('show');
            });
        }

        // Hack to prevent first enter from iframe;
        var pageReload = false;
        function reloadPage() {
            if(pageReload) {
                window.location.href = "index.html";
            }
            pageReload = true;
        }


        function redirectToLocation(id, redirect) {

             var request = $.ajax({
                 url: config.uri + "/locations/" + id,
                 type: "GET",
                 connection: "keep-alive",
                 headers: {"Authorization": config.accessToken},
                 contentType: "application/json",
                 dataType: "json",
                 cache: false,
            });

            request.done(function(place) {
                storage.place = JSON.stringify(place);
                window.location.href = redirect;
            });
        }

        function whenAvailable(name, callback) {
            var interval = 10; // ms
            window.setTimeout(function() {
                if (window[name]) {
                    callback(window[name]);
                } else {
                    window.setTimeout(arguments.callee, interval);
                }
            }, interval);
        }

        // onload
        function loadScript() {
            var user = $.parseJSON(storage['user']);

            $("#userName").text(user.firstName + " " + user.lastName);

            storage.selectedUser = storage.user;

        	// Update all form (for location type modals) actions.
        	$('.modal form').attr('action', config.uri + '/locations');
            Cookies.set("Authorization", config.accessToken);

            var script = document.createElement('script');
            script.type = 'text/javascript';
            script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&' +
                'callback=initialize';
            document.body.appendChild(script);

            init_jquery();

            // Analytics
        /*    window.timerId1 = setInterval(function() {
                var request = $.ajax({
                    url: config.uri + "/noise/latestAggregate",
                    type: "GET",
                    connection: "keep-alive",
                    headers: {"Authorization": config.accessToken},
                    contentType: "application/json",
                    dataType: "json",
                    cache: false
                });

                request.done(function(aggregate) {
                    var average = aggregate.average;
                    var min = aggregate.min;
                    var max = aggregate.max;
                    var count = aggregate.count;

                    $("#avgNoise").text(average.toFixed(2) + "db");
                    $("#minNoise").text(min.toFixed(2) + "db");
                    $("#maxNoise").text(max.toFixed(2) + "db");
                    $("#speedNoise").text(count.toFixed(2));
                });
            }, 1000);

            window.timerId2 = setInterval(function() {
                var request = $.ajax({
                    url: config.uri + "/noise/count",
                    type: "GET",
                    connection: "keep-alive",
                    headers: {"Authorization": config.accessToken},
                    contentType: "application/json",
                    dataType: "json",
                    cache: false
                });

                request.done(function(count) {
                    $("#totalSample").text(count);
                });
            }, 1000);


            function getGreenToRed(percent){
                r = percent<50 ? 255 : Math.floor(255-(percent*2-100)*255/100);
                g = percent>50 ? 255 : Math.floor((percent*2)*255/100);
                return '#' + r.toString(16) + g.toString(16) + '00';
            }

            var old_rectangles = [];
            var displayTiles = function() {
                var request = $.ajax({
                    url: config.uri + "/noise/tiles",
                    type: "GET",
                    connection: "keep-alive",
                    headers: {"Authorization": config.accessToken},
                    contentType: "application/json",
                    dataType: "json",
                    cache: false
                });

                request.done(function(tiles) {
                    console.log(tiles);

                    for (var i = 0; i < old_rectangles.length; i++)
                    {
                        old_rectangles[i].setMap(null);
                    }

                    old_rectangles = [];

                    for (var i = 0; i < tiles.length; i++) {
                        var rectangle = new google.maps.Rectangle({
                            strokeColor: getGreenToRed((tiles[i].avg/194) * 100),
                            strokeOpacity: 0.4,
                            strokeWeight: 2,
                            fillColor: getGreenToRed((tiles[i].avg/194) * 100),
                            fillOpacity: 0.15,
                            map: map,
                            bounds: {
                                north: tiles[i].lat4,
                                south: tiles[i].lat1,
                                west: tiles[i].long1,
                                east: tiles[i].long4
                            }
                        });

                        old_rectangles.push(rectangle);
                    }
                });
            }

            displayTiles();
            window.timerId3 = setInterval(displayTiles, 10000);
*/

            window.timerId4 = setInterval(function() {
                var request = $.ajax({
                    url: config.uri + "/traffic/averageVelocities",
                    type: "GET",
                    connection: "keep-alive",
                    headers: {"Authorization": config.accessToken},
                    contentType: "application/json",
                    dataType: "json",
                    cache: false
                });

                request.done(function(averageVelocities) {
                    window.averageVelocities = averageVelocities;
                });
            }, 10000);

            whenAvailable("HeatmapOverlay",init_heatmap);
        }

        function init_heatmap() {

            google.maps.event.addListener(map, 'zoom_changed', function() {
                var zoomLevel = map.getZoom();
                heatmap.setOptions({radius:zoomLevel*5.5});
                heatmap.repaint();
            });

            // heatmap layer
            heatmap = new HeatmapOverlay(map,
                {
                    // radius should be small ONLY if scaleRadius is true (or small radius is intended)
                    "radius": 20,
                    "maxOpacity": 1,
                    // scales the radius based on map zoom
                    "scaleRadius": false,
                    // if set to false the heatmap uses the global maximum for colorization
                    // if activated: uses the data maximum within the current map boundaries
                    //   (there will always be a red spot with useLocalExtremas true)
                    "useLocalExtrema": true,
                    // which field name in your data represents the latitude - default "lat"
                    latField: 'lat',
                    // which field name in your data represents the longitude - default "lng"
                    lngField: 'lng',
                    // which field name in your data represents the data value - default "value"
                    valueField: 'count'
                }
            );

            var testData = {
                max: 130,
                min: 0,
                data: [{lat:  44.4376, lng:26.03682, count: 30},{lat: 44.4364, lng:26.05484, count: 5}, {lat: 44.42157, lng:26.03433, count: 50},
                    {lat:  44.4368212, lng:26.0350494, count: 30},{lat: 44.4382593, lng:26.0351593, count: 35}, {lat: 44.4343353, lng:26.0346486, count: 130}]
            };
            heatmap.setData(testData);
        }

        function init_jquery() {
            $('#location-query').typeahead({
                minLength: 0,
                order: "asc",
                dynamic: true,
                delay: 100,
                source: {
                    locations: {
                        url: [{
                            type: "GET",
                            url: config.uri + "/locations?search={{query}}&searchCount=5",
                            dataType: "json",
                            beforeSend: function (jqXHR, options) {
                                jqXHR.setRequestHeader('Authorization', config.accessToken);
                            },
                            callback: {
                                done: function (data) {
                                    return data;
                                }
                            }
                        }],

                        template: '<span class="row">' +
                            '<span class="avatar">' +
                                '<img width=40 width=40 src="{{image_url}}">' +
                            "</span>" +
                            '<span class="location"> {{name}} </span>' +
                            '<span class="votes"> {{votes}} </span>' +
                            '<span style="color:#F7BE81;" class="glyphicon glyphicon-star"> </span>' +
                        "</span>",
                        display: ["name"]
                    },
                },
                callback: {
                    onClick: function (node, a, item, event) {
                        map.setCenter(locations[item.id].marker.getPosition());
                    },
                    onSendRequest: function (node, query) {
                        console.log('request is sent, perhaps add a loading animation?')
                    },
                    onReceiveRequest: function (node, query) {
                        console.log('request is received, stop the loading animation?')
                    },
                    onSubmit: function(node, form, item, event) {
                        redirectToLocation(item.id, 'location.html');
                    }
                },
                debug: true
            });
        }

        angular.module('mainApp', [])
            .controller('topLocationsController', topLocationsController);

        angular.module('mainApp', [])
            .controller('nearbyLocationsController', nearbyLocationsController);

        window.onload = loadScript;

    </script>
</head>

<body ng-app="mainApp">

<!-- used for preventing redirect caused by post -->
<iframe name="formSending" width=0 height=0 style="hidden" frameborder=0 marginheight=0 marginwidth=0 scrolling=no onLoad="reloadPage()"></iframe>

    < class="container" id="main">

        <!-- Navigation bar -->
        <div class="navbar navbar-fixed-top" id="myNavbar">
            <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" id="places"><b>My City Dashboard</b></a>
                    </div>

                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="index.html"><i class="glyphicon glyphicon-home"></i></a>
                            </li>
                        </ul>

                        <form class="navbar-form navbar-left">
                            <div class="typeahead-container">
                                <div class="typeahead-field">

                                <span class="typeahead-query">
                                    <input id="location-query"
                                           name="location-query"
                                           type="search"
                                           placeholder="Search for locations"
                                           autocomplete="off">
                                </span>
                                <span class="typeahead-button">
                                    <button type="submit" class="btn btn-default">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>

                                </div>
                            </div>
                        </form>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> <span id="userName"> </span> <strong class="caret"></strong></a>
                                <ul class="dropdown-menu">

                                    <li>
                                        <a href="user.html">Profile</a>
                                    </li>

                                    <li class="divider"></li>

                                    <li>
                                        <a href="login.html" onclick="signout()"><span class="glyphicon glyphicon-off"></span>Sign out</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>


                </div>
            </div>

        <!-- End Navigation bar -->

        <!-- Modal -->
        <div class="modal fade" id="locationModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <button class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">New Location</h4>
                    </div>
                    <!-- end modal-header -->

                    <div class="modal-body">
                        <p>Adauga un titlu sugestiv locatiei tale.</p>

                        <hr>
                        <p><small class="text-muted"><span class="tags">hint:</span> o fotografie face cat o mie de cuvinte</small>
                        </p>


                        <form class="form-horizontal" action="created from loading scrip!" method="POST" enctype="multipart/form-data"  target="formSending">
                            <input type="hidden" class="latitude" name="latitude" value="0" />
                            <input type="hidden" class="longitude" name="longitude" value="0" />

                            <div class="form-group">
                                <label class="col-lg-2 control-label" for="inputName">Titlu</label>
                                <div class="col-lg-10">
                                    <input class="form-control" id="inputName" name="name" value="" placeholder="Title" type="text">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-2 control-label" for="inputDescription">Descriere</label>
                                <div class="col-lg-10">
                                    <textarea class="form-control" id="inputDescription" name="description" value="" placeholder="Description" rows="3"></textarea>
                                </div>
                            </div>

                            <!-- modal-footer in modal-body? Heresy!!! -->
                            <div class="modal-footer">
                                <span class="glyphicon glyphicon-picture btn btn-primary btn-file"> <input type="file" name="file"> </span>
                                <button class="btn btn-danger" data-dismiss="modal" type="button" onclick="placeMarkerFromModal('locationModal')"><span class="glyphicon glyphicon-map-marker"></span> </button>
                                <button class="btn btn-success" type="submit">Post</button>
                            </div>
                            <!-- end modal-footer -->

                        </form>
                    </div>
                    <!-- end modal-body -->




                </div>
                <!-- end modal-content -->
            </div>
            <!-- end modal-dialog -->
        </div>
        <!-- end Modal -->



        <div class="row spacer">
            <!-- Map -->
            <div class="col-sm-9">
                <!-- map-->
                    <h4>
                        <span class="glyphicon glyphicon-map-marker"></span> Your Location
                        <div>Average noise: <span id="avgNoise"></span></div>
                        <div>Minimum noise: <span id="minNoise"></span></div>
                        <div>Maximum noise: <span id="maxNoise"></span></div>
                        <div>Samples/s (noise): <span id="speedNoise"></span></div>
                        <div>Total samples: <span id="totalSample"></span></div>
                    </h4>
                    <div class="google-map-canvas" id="map-canvas"> </div>
                <!-- end map-->
            </div>
            <!--End Buttons and map-->

            <!-- Right Side Panels -->
            <div class="col-sm-3 right-panel">

                <!-- Buttons-->
                <button type="button" class="btn btn-block btn-info btn-lg" data-toggle="modal" data-target="#locationModal">Create Location</button>


                <!-- Top Locations panel -->
                <div style="height: 100%; " class="panel panel-default">
                    <div class="panel-heading ">
                        <h3 class="panel-title"><b>Top Locations</b></h3>
                    </div>
                    <div ng-controller="topLocationsController" style=" height: 100%; overflow-y:auto;" class="panel-body">
                        <p ng-repeat="x in top_locations">
                            <a href="#" ng-click="$event.preventDefault();redirectToLocation(x.id, 'location.html')">
                                {{ x.votes }}
                                <span style="color:#F7BE81;" class="glyphicon glyphicon-star"> </span>
                                {{ x.name }}
                            </a>
                        </p>

                    </div>
                </div>
                <!-- End Top Locations panel -->

            </div>
            <!-- End right  side panels -->
        </div>

        <!--  near you -->
        <div class="row">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h6 class="panel-title"><b>Locations near you</b></h6>
                </div>
                <div ng-controller="nearbyLocationsController" style=" height: 100px; overflow-y:auto !important;" class="	panel-body panel-height">
                    <p ng-repeat="x in nearby_locations"><a href="#" ng-click="$event.preventDefault();redirectToLocation(x.id, 'location.html')">{{ x.votes }}<span style="color:#FF0040;" class="glyphicon glyphicon-star"></span> {{ x.name }} </a></p>
                </div>
            </div>
        </div>
        <!-- End locations near you -->

</body>

</html>
