<!DOCTYPE html>
<html>

<head>

    <title>Places</title>

    <script src="js/external/jquery.min.js"></script>

    <script type="text/javascript" src="js/external/js.cookie.js"></script>
    <script type="text/javascript" src="js/storage.js"></script>
    <script type="text/javascript" src="js/config.js"></script>

    <script type="text/javascript" src="js/controllers/nearbyLocationsController.js"></script>
    <script type="text/javascript" src="js/controllers/topLocationsController.js"></script>

    <script src="js/external/angular.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="css/external/bootstrap.min.css">
    <link href="css/external/bootstrap-glyphicons.css" rel="stylesheet">

    <!-- Optional: Include the jQuery library -->
    <script src="js/external/jquery.min.js"></script>

    <!-- Optional: Incorporate the Bootstrap JavaScript plugins -->
    <script src="js/external/bootstrap.min.js"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/external/style.css" type="text/css">
    <link rel="stylesheet" href="css/fileButtonStyle.css" type="text/css">

    <link rel="stylesheet" href="css/external/jquery.typeahead.min.css">
    <script src="js/external/jquery.typeahead.min.js"></script>

    <style>
        /* Extra styles to adjust Typeahead */
        .typeahead-container {
            max-width: 500px;
        }
    </style>

    <style type="text/css">
        #map-canvas {
            width: 100%;
            height: 500px;
        }

        .right-panel {
            height: 500px;
        }


        .gradientButton {
            height: 150px;
            width: 250px;
            color: #fff;
            text-shadow: -2px 2px #346392;
            font-size: 1.2em;
            background-color: #ff9664;
            background-image: -webkit-linear-gradient(top, #6496c8, #346392);
            -webkit-box-shadow: inset 0 0 0 1px #27496d;
            border: none;
            border-radius: 15px;
        }

        .gradientButton .pressedButton {
            -webkit-box-shadow: inset 0 0 0 1px #27496d,inset 0 5px 30px #193047;
        }

        #temperatureButton {
            background-color: #ff9664;
            background-image: -webkit-linear-gradient(top, #c8b811, #926004);
        }

        #noiseButton {
            background-color: #b7faff;
            background-image: -webkit-linear-gradient(top, #0ebac8, #186a92);
        }

        #co2Button {
            background-color: #a5ffb7;
            background-image: -webkit-linear-gradient(top, #23c888, #119214);
        }

        #trafficButton {
            background-color: #fff19f;
            background-image: -webkit-linear-gradient(top, #c3c872, #919207);
        }

        .gradientButton img {
            position: absolute;
            right: 5px;
            bottom: 5px;
            width: 40px !important;
            height: 40px !important;
        }


    </style>

    <script type="text/javascript">
    	var map;
        var locations = [];

    	var modalLat;
    	var modalLng;

    	var currentLatitude;
    	var currentLongitude;

        var placedModalMarker = null;

        window.timerId = [];
        window.timerId["temperature"] = [];
        window.timerId["noise"] = [];
        window.timerId["co2"] = [];
        window.timerId["traffic"] = [];

        window.objectIds = [];
        window.objectIds["temperature"] = [];
        window.objectIds["noise"]= [];
        window.objectIds["co2"] = [];
        window.objectIds["traffic"] = [];

        window.lastSampleCount = [];

        var user = $.parseJSON(storage['user']);
        var user_location;

    	function signout() {
    		sessionStorage.user = null;
    		localStorage.user = null;
    		return true;
    	}


        function myrand(x, y) {
            return Math.floor(Math.random() * y) + x;
        }

		var dfd = new jQuery.Deferred();


	    function setCurrentPositionSuccess(position) {
		    currentLatitude =  position.coords.latitude;
		    currentLongitude = position.coords.longitude;

            var userLatLng = new google.maps.LatLng(position.coords.latitude,
                    position.coords.longitude);

            var image = {
                url: 'images/current.png',
                origin: new google.maps.Point(0, 0),
                anchor: new google.maps.Point(25, 25),
                scaledSize: new google.maps.Size(50, 50)
            };


            var marker = new google.maps.Marker({
                position: userLatLng,
                map: map,
                icon: image
            });


		    dfd.resolve();
            nearbyLocationsController.deffered.resolve();
		}

		function setCurrentPositionFailure() {
			currentLatitude =  37.704009;
		    currentLongitude = -122.509851;
		    dfd.resolve();
            nearbyLocationsController.deffered.resolve();
		}


        // Populate map locations.
        function initialize() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(setCurrentPositionSuccess, setCurrentPositionFailure);
            } else {
                setCurrentPositionFailure();
            }

        	$.when(dfd.promise()).then(function() {
	            var center = new google.maps.LatLng(currentLatitude, currentLongitude);

	            var mapOptions = {
	                zoom: 15,
	                center: center
	            };

	            map = new google.maps.Map(document.getElementById('map-canvas'),
	                mapOptions);


	            // Get stored location and place them on map.
	            var request = $.ajax({
	                url: config.uri + "/locations?topLocations",
	                type: "GET",
                    headers: {"Authorization": config.accessToken},
	                connection: "keep-alive",
	                contentType: "application/json",
                    dataType: "json",
	                cache: false,
	            });

	            request.done(function(top_locations) {
	                var top_locations = top_locations;

	                for (var i = 0; i < top_locations.length; i++) {
                        (function (i, location) {
                            var image = null;
                            if (top_locations[i].image_url) {
                                var image = {
                                    url: location.image_url,
                                    origin: new google.maps.Point(0, 0),
                                    anchor: new google.maps.Point(25, 25),
                                    scaledSize: new google.maps.Size(50, 50)
                                };
                            }

                            var marker = new google.maps.Marker({
                                position: new google.maps.LatLng(
                                        location.latitude,
                                        location.longitude),
                                map: map,
                                title: location.name,
                                icon: image,
                                _place: location
                            });
                            locations[location.id] = location;
                            locations[location.id].marker = marker;

                            google.maps.event.addListener(marker, 'click', function () {
                                redirectToLocation(marker._place.id, "location.html");
                            });

                        })(i, top_locations[i]);
                    }

	            });
            });
        }

        function placeMarkerFromModal(id) {

        	google.maps.event.addListener(map, 'click', function(location) {

        		modalLat = location.latLng.lat();
		    	modalLng = location.latLng.lng();

                var image = {
                    url: '/images/current.png',
                    origin: new google.maps.Point(0, 0),
                    anchor: new google.maps.Point(25, 25),
                    scaledSize: new google.maps.Size(50, 50)
                };


                var marker = new google.maps.Marker({
	                position: location.latLng,
	                map: map,
                    icon: image
           		});

                // Previous location was not submited so we erase it from the map.
                // The marker will also be erase on submit because of the page reload.
                if(placedModalMarker != null) {
                	placedModalMarker.setMap(null);
                }

                placedModalMarker = marker;

                $("#" + id + " input[name=latitude]").val(modalLat);
                $("#" + id + " input[name=longitude]").val(modalLng);

                google.maps.event.clearListeners(map, 'click');

                $("#" + id).modal('show');
            });
        }

        // Hack to prevent first enter from iframe;
        var pageReload = false;
        function reloadPage() {
            if(pageReload) {
                window.location.href = "index.html";
            }
            pageReload = true;
        }


        function redirectToLocation(id, redirect) {

             var request = $.ajax({
                 url: config.uri + "/locations/" + id,
                 type: "GET",
                 connection: "keep-alive",
                 headers: {"Authorization": config.accessToken},
                 contentType: "application/json",
                 dataType: "json",
                 cache: false,
            });

            request.done(function(place) {
                storage.place = JSON.stringify(place);
                window.location.href = redirect;
            });
        }

        function whenAvailable(name, callback) {
            var interval = 1; // ms
            window.setTimeout(function() {
                if (window[name]) {
                    callback(window[name]);
                } else {
                    window.setTimeout(arguments.callee, interval);
                }
            }, interval);
        }

        // onload
        function loadScript() {
            var user = $.parseJSON(storage['user']);

            $("#userName").text(user.firstName + " " + user.lastName);

            storage.selectedUser = storage.user;

        	// Update all form (for location type modals) actions.
        	$('.modal form').attr('action', config.uri + '/locations');
            Cookies.set("Authorization", config.accessToken);

            var script = document.createElement('script');
            script.type = 'text/javascript';
            script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=visualization&' +
                'callback=initialize';
            document.body.appendChild(script);

            init_jquery();

            displaySensorData = function(sensorType) {
                var getLatestSensorAggregate = function(sensorType) {
                    var request = $.ajax({
                        url: config.uri + "/sensordata/" + sensorType + "/latestAggregate",
                        type: "GET",
                        connection: "keep-alive",
                        headers: {"Authorization": config.accessToken},
                        contentType: "application/json",
                        dataType: "json",
                        cache: false
                    });

                    var unitOfMeasure = "N/A"

                    if(sensorType == "temperature") {
                        unitOfMeasure = "&deg;C";
                    } else if (sensorType == "noise") {
                        unitOfMeasure = "dB";
                    } else if (sensorType == "co2") {
                        unitOfMeasure = "ppm";
                    }

                    function capitalizeFirstLetter(string) {
                        return string.charAt(0).toUpperCase() + string.slice(1);
                    }

                    request.done(function(aggregate) {

                        var average = aggregate.average;
                        var min = aggregate.min;
                        var max = aggregate.max;

                        var count = aggregate.count;

                        var sampleSpeed = 0;
                        if(sensorType in lastSampleCount && "aggregate" in window.objectIds[sensorType]) {
                            var lastTimestamp = window.objectIds[sensorType]["aggregate"]["timestamp"];
                            var currentTimestamp = aggregate["_id"]["timestamp"];

                            sampleSpeed = count / (currentTimestamp - lastTimestamp);
                        }


                        var sensor = capitalizeFirstLetter(sensorType);
                        $("#avg" + sensor).text(average.toFixed(2) + " " + unitOfMeasure);
                        $("#min" + sensor).text(min.toFixed(2) + " " + unitOfMeasure);
                        $("#max" + sensor).text(max.toFixed(2) + " " + unitOfMeasure);
                        $("#speedSamples" + sensor).text(sampleSpeed.toFixed(2));

                        window.objectIds[sensorType]["aggregate"] = aggregate["_id"];
                        lastSampleCount[sensorType] = count;

                    });
                };

                 getLatestSensorAggregate(sensorType);
                 window.timerId[sensorType][0] = setInterval(function() {
                    getLatestSensorAggregate(sensorType);
                 }, 11000);

                function getGreenToRed(percent){
                    r = percent<50 ? 255 : Math.floor(255-(percent*2-100)*255/100);
                    g = percent>50 ? 255 : Math.floor((percent*2)*255/100);
                    return '#' + r.toString(16) + g.toString(16) + '00';
                }


                allTiles = [];
                allTiles["temperature"] = [];
                allTiles["noise"] = [];
                allTiles["co2"] = [];

                var drawSensorRectangles = function(sensorType) {

                    var request = $.ajax({
                        url: config.uri + "/sensordata/" + sensorType + "/tiles",
                        type: "GET",
                        connection: "keep-alive",
                        headers: {"Authorization": config.accessToken},
                        contentType: "application/json",
                        dataType: "json",
                        cache: false
                    });

                    request.done(function(tiles) {

                        for (var i = 0; i < tiles.length; i++) {
                            var rectangle = new google.maps.Rectangle({
                                strokeColor: getGreenToRed((tiles[i].avg/194) * 100),
                                strokeOpacity: 0.4,
                                strokeWeight: 2,
                                fillColor: getGreenToRed((tiles[i].avg/194) * 100),
                                fillOpacity: 0.15,
                                map: map,
                                bounds: {
                                    north: tiles[i].lat4,
                                    south: tiles[i].lat1,
                                    west: tiles[i].long1,
                                    east: tiles[i].long4
                                }
                            });

                            // erase old value;
                            if(allTiles[sensorType].hasOwnProperty(tiles[i]["tileKey"])) {
                                allTiles[sensorType][tiles[i]["tileKey"]].setMap(null);
                            }

                            allTiles[sensorType][tiles[i]["tileKey"]] = rectangle;

                        }
                    });
                }

                drawSensorRectangles("temperature");
                window.timerId[sensorType][1] = setInterval(function() {
                    drawSensorRectangles("temperature");
                }, 10000);

            }
        }

        hideSensorData = function(sensorType) {
            for(var key in allTiles[sensorType]) {
                allTiles[sensorType][key].setMap(null);
            }

            clearInterval(window.timerId[sensorType][0]);
            clearInterval(window.timerId[sensorType][1]);

        };



        old_arrows = [];
        oldHeatmap = null;
        allTrafficAggregates = [];
        var drawTrafficAggregates = function() {
            var request = $.ajax({
                url: config.uri + "/traffic/aggregates",
                type: "GET",
                connection: "keep-alive",
                headers: {"Authorization": config.accessToken},
                contentType: "application/json",
                dataType: "json",
                cache: false
            });

            request.done(function(trafficAggregates) {

                for(var i = 0; i < trafficAggregates.length; i++) {

                    allTrafficAggregates[trafficAggregates[i]["key"]] = trafficAggregates[i];

                    // erase old arrow
                    if(old_arrows.hasOwnProperty(trafficAggregates[i]["key"])) {
                        old_arrows[trafficAggregates[i]["key"]].setMap(null);
                    }

                    // Define a symbol using a predefined path (an arrow)
                    // supplied by the Google Maps JavaScript API.
                    var lineSymbol = {
                        path: google.maps.SymbolPath.FORWARD_CLOSED_ARROW
                    };

                   /* // Create the polyline and add the symbol via the 'icons' property.
                    var line = new google.maps.Polyline({
                        path: [
                            {lat: parseFloat(trafficAggregates[i].centerArrowX), lng: parseFloat(trafficAggregates[i].centerArrowY)},
                            {lat: parseFloat(trafficAggregates[i].arrowHeadX), lng: parseFloat(trafficAggregates[i].arrowHeadY)}
                        ],
                        icons: [{
                            icon: lineSymbol,
                            offset: '100%',
                        }],
                        title: Math.sqrt(Math.pow(trafficAggregates[i]["avgVelocityX"], 2) + Math.pow(trafficAggregates[i]["avgVelocityY"], 2)) + " km/h",
                        map: map
                    });*/

                    /*(function(title) {
                        var infoWindow = new google.maps.InfoWindow();

                        // Open the InfoWindow on mouseover:
                        google.maps.event.addListener(line, 'mouseover', function(e) {
                            infoWindow.setPosition(e.latLng);
                            infoWindow.setContent(title);
                            infoWindow.open(map);
                        });

                        // Close the InfoWindow on mouseout:
                        google.maps.event.addListener(line, 'mouseout', function() {
                            infoWindow.close();
                        });
                    })(Math.sqrt(Math.pow(trafficAggregates[i]["avgVelocityX"], 2) + Math.pow(trafficAggregates[i]["avgVelocityY"], 2)) + " km/h");
*/
                    // update arrow
                    //old_arrows[trafficAggregates[i]["key"]] = line;
                }

              /*  var heatMapData = [];

                for(var key in allTrafficAggregates) {
                    heatMapData.push({location: new google.maps.LatLng(allTrafficAggregates[key].averagePositionX, allTrafficAggregates[key].averagePositionY), weight: allTrafficAggregates[key].CountCarsForAverageVelocity * 10});
                }

                var heatmap = new google.maps.visualization.HeatmapLayer({
                    data: heatMapData,
                    radius: 25
                });

                if(oldHeatmap != null) {
                    oldHeatmap.setMap(null);
                }

                heatmap.setMap(map);

                oldHeatmap = heatmap;
*/
            });
        };

        drawTrafficAggregates();
        window.timerIdTrafficAggregates = setInterval(drawTrafficAggregates, 10000);


        var old_taxi_action_clusters = [];
        old_taxi_action_clusters["pickups"] = [];
        old_taxi_action_clusters["dropoffs"] = [];

        var drawTaxiActionClusters = function(action) {
            var request = $.ajax({
                url: config.uri + "/traffic/taxiactionclusters?taxiaction=" + action + "&numberOfClusters=3",
                type: "GET",
                connection: "keep-alive",
                headers: {"Authorization": config.accessToken},
                contentType: "application/json",
                dataType: "json",
                cache: false
            });

            request.done(function (clusters) {

                for (var i = 0; i < old_taxi_action_clusters[action].length; i++) {
                    old_taxi_action_clusters[action][i].setMap(null);
                }

                var image = {
                    url: "/images/taxi" + action + ".png",
                    scaledSize: new google.maps.Size(50, 50), // scaled size
                    origin: new google.maps.Point(0, 0), // origin
                    anchor: new google.maps.Point(0, 0) // anchor
                };

                for (var i = 0; i < clusters.length; i++) {
                    var myLatLng = {lat: clusters[i].latitude, lng: clusters[i].longitude};

                    var marker = new google.maps.Marker({
                        position: myLatLng,
                        map: map,
                        icon: image,
                        title: 'Taxi cluster'
                    });

                    old_taxi_action_clusters[action].push(marker);
                }
            });
        };

        drawTaxiActionClusters("pickups");
        window.timerIdClusterPickups = setInterval(function() {
            drawTaxiActionClusters("pickups");
        }, 10000);

        drawTaxiActionClusters("dropoffs");
        window.timerIdClusterDropOffs = setInterval(function() {
            drawTaxiActionClusters("dropoffs");
        }, 10000);



        var getLatestTrafficAggregate = function(sensorType) {
            var request = $.ajax({
                url: config.uri + "/" + sensorType + "/latestAggregate",
                type: "GET",
                connection: "keep-alive",
                headers: {"Authorization": config.accessToken},
                contentType: "application/json",
                dataType: "json",
                cache: false
            });

            var unitOfMeasure = "km/h";

            function capitalizeFirstLetter(string) {
                return string.charAt(0).toUpperCase() + string.slice(1);
            }

            request.done(function(aggregate) {

                var average = aggregate.average;
                var count = aggregate.count;

                var sampleSpeed = 0;
                if(sensorType in lastSampleCount && "aggregate" in window.objectIds[sensorType]) {
                    var lastTimestamp = window.objectIds[sensorType]["aggregate"]["timestamp"];
                    var currentTimestamp = aggregate["_id"]["timestamp"];

                    sampleSpeed = count / (currentTimestamp - lastTimestamp);
                }


                var sensor = capitalizeFirstLetter(sensorType);
                $("#avg" + sensor).text(average.toFixed(2) + " " + unitOfMeasure);
                $("#speedSamples" + sensor).text(sampleSpeed.toFixed(2));

                window.objectIds[sensorType]["aggregate"] = aggregate["_id"];
                lastSampleCount[sensorType] = count;

            });
        };

        getLatestTrafficAggregate("traffic");
        window.timerIdOverallTrafficAggregate = setInterval(function() {
            getLatestTrafficAggregate("traffic");
        }, 11000);

        function init_jquery() {
            $('#location-query').typeahead({
                minLength: 0,
                order: "asc",
                dynamic: true,
                delay: 100,
                source: {
                    locations: {
                        url: [{
                            type: "GET",
                            url: config.uri + "/locations?search={{query}}&searchCount=5",
                            dataType: "json",
                            beforeSend: function (jqXHR, options) {
                                jqXHR.setRequestHeader('Authorization', config.accessToken);
                            },
                            callback: {
                                done: function (data) {
                                    return data;
                                }
                            }
                        }],

                        template: '<span class="row">' +
                            '<span class="avatar">' +
                                '<img width=40 width=40 src="{{image_url}}">' +
                            "</span>" +
                            '<span class="location"> {{name}} </span>' +
                            '<span class="votes"> {{votes}} </span>' +
                            '<span style="color:#F7BE81;" class="glyphicon glyphicon-star"> </span>' +
                        "</span>",
                        display: ["name"]
                    },
                },
                callback: {
                    onClick: function (node, a, item, event) {
                        map.setCenter(locations[item.id].marker.getPosition());
                    },
                    onSendRequest: function (node, query) {
                        console.log('request is sent, perhaps add a loading animation?')
                    },
                    onReceiveRequest: function (node, query) {
                        console.log('request is received, stop the loading animation?')
                    },
                    onSubmit: function(node, form, item, event) {
                        redirectToLocation(item.id, 'location.html');
                    }
                },
                debug: true
            });

            $("#temperatureButton").on('click', function(){
                if($(this).hasClass("pressedButton")) {
                    $(this).css('-webkit-box-shadow', '');
                    $(this).removeClass('pressedButton');

                    hideSensorData("temperature");
                } else {
                    $(this).addClass('pressedButton');
                    $(this).css('-webkit-box-shadow', 'inset 0 0 0 1px #27496d,inset 0 5px 30px #193047');

                    displaySensorData("temperature");
                }
            });

            $("#noiseButton").on('click', function(){
                if($(this).hasClass("pressedButton")) {
                    $(this).css('-webkit-box-shadow', '');
                    $(this).removeClass('pressedButton');

                    hideSensorData("noise");
                } else {
                    $(this).addClass('pressedButton');
                    $(this).css('-webkit-box-shadow', 'inset 0 0 0 1px #27496d,inset 0 5px 30px #193047');

                    displaySensorData("noise");
                }
            });

            $("#co2Button").on('click', function(){
                if($(this).hasClass("pressedButton")) {
                    $(this).css('-webkit-box-shadow', '');
                    $(this).removeClass('pressedButton');

                    hideSensorData("co2");
                } else {
                    $(this).addClass('pressedButton');
                    $(this).css('-webkit-box-shadow', 'inset 0 0 0 1px #27496d,inset 0 5px 30px #193047');

                    displaySensorData("co2");
                }
            });


        }

        angular.module('mainApp', [])
            .controller('topLocationsController', topLocationsController);

        angular.module('mainApp', [])
            .controller('nearbyLocationsController', nearbyLocationsController);

        window.onload = loadScript;

    </script>
</head>

<body ng-app="mainApp">

<!-- used for preventing redirect caused by post -->
<iframe name="formSending" width=0 height=0 style="hidden" frameborder=0 marginheight=0 marginwidth=0 scrolling=no onLoad="reloadPage()"></iframe>

    < class="container" id="main">

        <!-- Navigation bar -->
        <div class="navbar navbar-fixed-top" id="myNavbar">
            <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" id="places"><b>City Dashboard</b></a>
                    </div>

                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="index.html"><i class="glyphicon glyphicon-home"></i></a>
                            </li>
                        </ul>

                        <form class="navbar-form navbar-left">
                            <div class="typeahead-container">
                                <div class="typeahead-field">

                                <span class="typeahead-query">
                                    <input id="location-query"
                                           name="location-query"
                                           type="search"
                                           placeholder="Search for locations"
                                           autocomplete="off">
                                </span>
                                <span class="typeahead-button">
                                    <button type="submit" class="btn btn-default">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>

                                </div>
                            </div>
                        </form>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> <span id="userName"> </span> <strong class="caret"></strong></a>
                                <ul class="dropdown-menu">

                                    <li>
                                        <a href="user.html">Profile</a>
                                    </li>

                                    <li class="divider"></li>

                                    <li>
                                        <a href="login.html" onclick="signout()"><span class="glyphicon glyphicon-off"></span>Sign out</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>


                </div>
            </div>

        <!-- End Navigation bar -->

        <!-- Modal -->
        <div class="modal fade" id="locationModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <button class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">New Location</h4>
                    </div>
                    <!-- end modal-header -->

                    <div class="modal-body">
                        <p>Adauga un titlu sugestiv locatiei tale.</p>

                        <hr>
                        <p><small class="text-muted"><span class="tags">hint:</span> o fotografie face cat o mie de cuvinte</small>
                        </p>


                        <form class="form-horizontal" action="created from loading scrip!" method="POST" enctype="multipart/form-data"  target="formSending">
                            <input type="hidden" class="latitude" name="latitude" value="0" />
                            <input type="hidden" class="longitude" name="longitude" value="0" />

                            <div class="form-group">
                                <label class="col-lg-2 control-label" for="inputName">Titlu</label>
                                <div class="col-lg-10">
                                    <input class="form-control" id="inputName" name="name" value="" placeholder="Title" type="text">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-2 control-label" for="inputDescription">Descriere</label>
                                <div class="col-lg-10">
                                    <textarea class="form-control" id="inputDescription" name="description" value="" placeholder="Description" rows="3"></textarea>
                                </div>
                            </div>

                            <!-- modal-footer in modal-body? Heresy!!! -->
                            <div class="modal-footer">
                                <span class="glyphicon glyphicon-picture btn btn-primary btn-file"> <input type="file" name="file"> </span>
                                <button class="btn btn-danger" data-dismiss="modal" type="button" onclick="placeMarkerFromModal('locationModal')"><span class="glyphicon glyphicon-map-marker"></span> </button>
                                <button class="btn btn-success" type="submit">Post</button>
                            </div>
                            <!-- end modal-footer -->

                        </form>
                    </div>
                    <!-- end modal-body -->




                </div>
                <!-- end modal-content -->
            </div>
            <!-- end modal-dialog -->
        </div>
        <!-- end Modal -->



        <div class="row" style="margin-top: 30px; margin-bottom: 30px">

            <!-- Buttons -->
            <div class="row col-sm-9">
                <div  class="col-md-1">
                </div>

                <button id="temperatureButton" class="col-md-2 gradientButton" style="margin-right: 5px; margin-left: -30px;">
                    <div><span style="font-weight: bold;">Temperature</span></div>
                    <div>Average: <span id="avgTemperature"></span></div>
                    <div>Minimum: <span id="minTemperature"></span></div>
                    <div>Maximum: <span id="maxTemperature"></span></div>
                    <div>Samples/s : <span id="speedSamplesTemperature"></span></div>
                    <img src="/images/temperature.png"/>
                </button >

                <button id="noiseButton" class="col-md-2 gradientButton" style="margin-right: 5px;">
                    <div><span style="font-weight: bold;">Noise</span></div>
                    <div>Average: <span id="avgNoise"></span></div>
                    <div>Minimum: <span id="minNoise"></span></div>
                    <div>Maximum: <span id="maxNoise"></span></div>
                    <div>Samples/s : <span id="speedSamplesNoise"></span></div>
                    <img src="/images/noise.png"/>
                </button >

                <button id="co2Button" class="col-md-2 gradientButton" style="margin-right: 5px;">
                    <div><span style="font-weight: bold;">Co2</span></div>
                    <div>Average: <span id="avgCo2"></span></div>
                    <div>Minimum: <span id="minCo2"></span></div>
                    <div>Maximum: <span id="maxCo2"></span></div>
                    <div>Samples/s : <span id="speedSamplesCo2"></span></div>
                    <img src="/images/co2.png"/>
                </button >

                <button id="trafficButton" class="col-md-2 gradientButton" style="margin-right: 5px;">
                    <div><span style="font-weight: bold;">Traffic</span></div>
                    <div>Average: <span id="avgTraffic"></span></div>
                    <div>Samples/s : <span id="speedSamplesTraffic"></span></div>
                    <img src="/images/traffic.png"/>
                </button >

            </div>
        </div>
            <!-- end Buttons -->

            <div class="row">
                <!-- Map -->
                <div class="col-sm-9">
                    <!-- map-->
                        <div class="google-map-canvas" id="map-canvas"> </div>
                    <!-- end map-->
                </div>
                <!--End Buttons and map-->

                <!-- Right Side Panels -->
                <div class="col-sm-3 right-panel" style = " margin-top: -50px;">

                    <!-- Buttons-->
                    <button type="button" class="btn btn-block btn-info btn-lg" data-toggle="modal" data-target="#locationModal">Create Event</button>


                    <!-- Top Events panel -->
                    <div style="height: 100%;" class="panel panel-default">
                        <div class="panel-heading ">
                            <h3 class="panel-title"><b>Top Events</b></h3>
                        </div>
                        <div ng-controller="topLocationsController" style=" height: 100%; overflow-y:auto;" class="panel-body">
                            <p ng-repeat="x in top_locations">
                                <a href="#" ng-click="$event.preventDefault();redirectToLocation(x.id, 'location.html')">
                                    {{ x.votes }}
                                    <span style="color:#F7BE81;" class="glyphicon glyphicon-star"> </span>
                                    {{ x.name }}
                                </a>
                            </p>

                        </div>
                    </div>
                    <!-- End Top Locations panel -->

                </div>
                <!-- End right  side panels -->
            </div>


        <!--  near you -->
        <div class="row">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h6 class="panel-title"><b>Events near you</b></h6>
                </div>
                <div ng-controller="nearbyLocationsController" style=" height: 100px; overflow-y:auto !important;" class="	panel-body panel-height">
                    <p ng-repeat="x in nearby_locations"><a href="#" ng-click="$event.preventDefault();redirectToLocation(x.id, 'location.html')">{{ x.votes }}<span style="color:#FF0040;" class="glyphicon glyphicon-star"></span> {{ x.name }} </a></p>
                </div>
            </div>
        </div>
        <!-- End locations near you -->

</body>

</html>
